
<app-admin-navbar></app-admin-navbar>
<div class="row">
    <div class="col">
      <div class="dash-container" *ngFor="let batch of apiBatchdata">
        <input type="checkbox"
         (change)="func($event,batch.batchId,batch.batchName)"
         [value]="batch.batchId"
         ><br>
         
        <div
          class="dash-thumbnail"
          (click)="get_batch_id(batch.batchId)"
        >
          <img [src]="thumbnail" alt="dash" />
          
        </div>
  
        <div class="dash-name">
          {{ batch.batchName }}
  
          
        </div>
  
        <!-- <button style="font-size: 30px;" (click)="download(batch.batchId,batch.batchName)"> <i class="bi bi-download"> </i></button> -->
      </div>
    </div>
  </div>

  <!-- Dropdown for assigning teams -->
  <div class="btn-group z col-md-3">
    <button type="button" class=" btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">team 1</a></li>
      <li><a class="dropdown-item" href="#">Team 2</a></li>
      <li><a class="dropdown-item" href="#">Team 3</a></li>
      <!-- <li><hr class="dropdown-divider"></li> -->
      
    </ul>
    <button type="button" class="btn btn-outline-primary m-3">save</button>

  </div>

