.navbar-1{
    height: 10%;
    width: 100%;
    font-size: 3rem;
    text-align: left;
    color: white;
    background-color: #39a87a;
    /* position: absolute;
    top: 0; */
}
.navbar-2{
    margin-top: 10px;
    height: 5%;
    width: 100%;
    background-color: black;
    /* position: absolute; */
    /* top: 10%; */
}