.navbar-1{
    overflow: hidden;
    height: 10%;
    width: 100%;
    font-size: 3rem;
    text-align: left;
    color: white;
    background-color: #39a87a;
    position: absolute;
    top: 0%;
}
.navbar-2{
    overflow: hidden;
    height: 5%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 10%;
}