.card{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;
}

.login-form {
    /* background-color: rgb(20, 19, 19); */
    position: absolute;
    top:15%;
    left: 35%;
    height:60%;
    width: 30%;
    margin: 0;
  	font-size: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.infrrd-logo
{
  position: absolute;
  height: 25%;
  width: 50%;
  top: 5%;
  left: 22%;
  background-image: url("https://uat.infrrd.cloud/assets/images/logos/Infrrd-Logo-Transparent3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  /* background-color: #39a87a; */
}


form{
    position: absolute;
    top:30%;
    height:60%;
    width:100%;
    
}

.email{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 20%; 
    /* background-color: #39a87a; */

}

.password{
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 20%; 
}

input{
    position: absolute;
    height: 100%;
    width:  100%;
    text-align: left;
    border-radius: 0.3rem;
    border: 0.2px solid grey;
}

::placeholder{
    position: absolute;
    left: 2%;
    top: 30%;
    font-size: larger;
}
/* 
.login-form form {
    position: absolute;
    color: black;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin-bottom: 15px; */
    /* background-color: rgb(248, 244, 244); */
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
    /* padding: 30px;
} */


.btn {      
    position: absolute; 
    top: 78%;
    left: 10%;
    height: 16%;
    width: 80%;
}

button{ 
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #39a87a;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.2rem;
}
