<div class="card">
    <div class="alert-cell" #alert_ref>
        <div class="alert-warn">Warning!</div>
        <!--Select token first, to make an entity-->
        <!--This token is already used -->
        <div class="alert-message">{{alert_message}}</div>
        <div class="alert-close" (click)="close_alert()">x</div>
      </div>
    <div class="login-form">

        <div class="infrrd-logo"></div>  

        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="email">
                <input type="text" name="username"  placeholder="Email ID" required="required" minlength="3" ngModel>
            </div>

            <div class="password">
                <input type="password" name="password" placeholder="Password" required="required" minlength="3"ngModel>
            </div>

            <div class="btn">
                <button type="submit">Sign in</button>
            </div>     

        </form>   
    </div>
</div>