.card{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;
}

.alert-cell
{
  height:3.8%;
  width: 26%;
  font-size: 1rem;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.1%;
  left: 74%;
  z-index: 1;
}
.alert-warn
{
   height: 100%;
   width: 20%;
   font-weight: normal;
   font-size: 1.10rem;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   background-color: red;
   color: white;
   top: 0%;
   left: 0%;  
}

.alert-message
{
   height: 100%;
   width: 70%;
   display: flex;
   justify-content: left;
   align-items: center;
   position: absolute;
   background-color: red;
   color: white;
   top: 0%;
   left: 20%;
   padding-left: 2%;  
}

.alert-close
{
   height: 100%;
   width: 10%;
   color: white;
   background-color: red;
   display: flex;
   border-left:1px solid black ;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0%;
   left: 90%; 
   cursor: pointer; 
}

.login-form {
    /* background-color: rgb(20, 19, 19); */
    position: absolute;
    top:15%;
    left: 35%;
    height:60%;
    width: 30%;
    margin: 0;
  	font-size: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}


.infrrd-logo
{
  position: absolute;
  height: 25%;
  width: 50%;
  top: 5%;
  left: 22%;
  background-image: url("https://uat.infrrd.cloud/assets/images/logos/Infrrd-Logo-Transparent3.png");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  /* background-color: #39a87a; */
}


form{
    position: absolute;
    top:30%;
    height:60%;
    width:100%;
    
}

.email{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 20%; 
    /* background-color: #39a87a; */

}

.password{
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 20%; 
}

input{
    position: absolute;
    height: 100%;
    width:  100%;
    text-align: left;
    border-radius: 0.3rem;
    border: 0.2px solid grey;
}

::placeholder{
    position: absolute;
    left: 2%;
    top: 30%;
    font-size: larger;
}
/* 
.login-form form {
    position: absolute;
    color: black;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    margin-bottom: 15px; */
    /* background-color: rgb(248, 244, 244); */
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); */
    /* padding: 30px;
} */


.btnn {      
    position: absolute; 
    top: 78%;
    left: 10%;
    height: 16%;
    width: 80%;
}

button{ 
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #39a87a;
  border: 0px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.2rem;
}
