
/* .navbar-1 span{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
.navbar-1{
  user-select: none;
    overflow: hidden;
    height: 7vh;
    width: 100vw;
    font-size: 1.3rem;
    text-align: left;
    color: white;
    background-color: #39a87a;
}

.navbar-2{
    overflow: hidden;
    height: 4vh;
    width: 100vw;
    background-color: black;
}

.logo {
  cursor: pointer;
    /* position: absolute; */
    margin-top: 13px;
    margin-left: 15px;
    height: 100%;
    width: 20%;
    /* top: 3%;
    left: 1%; */
    background-image: url("https://uat.infrrd.cloud/assets/images/logos/infrrd-logo-monotone-white-transparent@2x.png");
    background-size: 35%;
    background-repeat: no-repeat;
  }
/*
  .logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 12.1px;
    height: 100%;
    width: 20%;
    /* top: 3%;
    left: 1%; 
    background-image: url("https://uat.infrrd.cloud/assets/images/logos/infrrd-logo-monotone-white-transparent@2x.png");
    background-size: 35%;
    background-repeat: no-repeat;
  }

*/