<app-admin-navbar></app-admin-navbar>

<div class="row">
    <div class="col">
      <!-- <div class="dash-container" *ngFor="let batch of apiBatchdata"> -->
        <!-- <input type="checkbox"
         (change)="func($event,batch.batchId,batch.batchName)"
         [value]="batch.batchId"
         ><br>
         <!-- [checked]="" -->
        <!-- <div
          class="dash-thumbnail"
          (click)="get_batch_id(batch.batchId)"
        >
          <img [src]="thumbnail" alt="dash" />
          
        </div> -->
  
        <!-- <div class="dash-name">
          {{ batch.batchName }}
  
          
        </div>  -->
  
        <!-- <button style="font-size: 30px;" (click)="download(batch.batchId,batch.batchName)"> <i class="bi bi-download"> </i></button> -->
      <!-- </div> -->
    </div>
  </div>
