<!-- <div class="container"> -->

  <app-admin-navbar></app-admin-navbar>

  <div class="row">
    <div class="col">
      <div class="dash-container" *ngFor="let user of users">
        <input type="checkbox"
        (change)="func($event,user._id,user.name)"
         [value]="user._id"
         ><br>
        <div class="dash-thumbnail">
          <fa-icon [icon]="userimg" style="font-size:50px;">

          </fa-icon>
        </div>
        <div class="dash-name">
          {{ user.name }}
        </div>
      </div>
      
    </div>
  </div>
<!-- </div> -->

<div class="btn-group z col-md-3">
  <button type="button" class=" btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    
    <li><input type="text" placeholder="input team name"></li>
    <li onchange="printname()">Team 2</li>  
  </ul>
  <button type="button" class="btn btn-outline-primary m-3" (click)="addToTeam()">save</button>

</div>
