<div class="contain overflow-scroll ">

  <app-admin-navbar></app-admin-navbar>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </nav>
    </div>



    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-10">
          <div class="row">



            <!-- Recent Sales -->
            <div class="col-12 ">
              <div class="card recent-sales ">


                <div class="card-body overflow-scroll">
                  <h5 class="card-title ">All user details</h5>

                  <table class="table table-borderless datatable overflow-scroll ">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Delete User</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let user of users ;let i =  index" >
                      <tr>
                        <th scope="row"><a href="#">#{{i + 1}}</a></th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td (click)="delete_user(user._id)"><span class="badge bg-danger">x</span></td>
                      </tr>

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->


          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>


  </main>
</div>