

<app-admin-navbar></app-admin-navbar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Batches</h1>
        <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Batches</li>
            </ol>
          </nav>
      </div>
    
    
      <section class="section dashboard">
        <div class="row">
    
          <!-- Left side columns -->
          <div class="col-lg-10">
            <div class="row">
    
           
              <div class="col-12">
                <div class="card recent-sales overflow-auto">
    
        
                  <div class="card-body">
                    <h5 class="card-title">All Batches details</h5> 
    
                    <table class="table table-borderless datatable" >
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Batch Name</th>
                          <th scope="col">Document Type</th>
                          <th scope="col">Document Count</th>
                          <th scope="col">Corrected</th>
                          <th scope="col">Allocated To</th>
                          <th scope="col">Allocated on Date</th>
                          <th scope="col">Created on data</th>
                          <th scope="col">Created By</th>
                          <th scope="col">Delete Batch</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let batch of Batches ;let i =  index">
                        <tr>
                          <th scope="row"><a href="#">#{{i + 1}}</a></th>
                          <td>{{batch.batchName}}</td>
                          <td>{{batch.type}}</td>
                          <td>{{batch.documentCount}}</td>
                          <td><span class="badge bg-primary">{{batch.isCorrected}}</span></td>
                          <td>{{batch.allocatedTo}}</td>
                          <td>{{batch.allocatedon}}</td>
                          <td>{{batch.createdOn}}</td>
                          <td>{{batch.createdBy}}</td>
    
                          <td><span class="badge bg-danger">x</span></td>
                        </tr>
                        
                      </tbody>
                    </table>
    
                  </div>
    
                </div>
              </div><!-- End Recent Sales -->
    
             
            </div>
          </div><!-- End Left side columns -->
        </div>
      </section>
    
    
    </main>