<app-navbar></app-navbar>
<div class="row">
    <div class="filter-bar">
        <div class="feilds">
            <input class="dd" name="search" [(ngModel)]="searchText" type="text" placeholder="Search by filename">
            <input class="dd" type="text" placeholder="select by date">
            <button class="btn" type="submit" (click) = "onClear()">Clear</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="doc-container" *ngFor="let i of apiPage | filter:searchText">
            <div class="doc-thumbnail" routerLink="/editing-page" (click)="get_docID(i.documentId)">
                <img src="{{imgUrl + i.imagePath}}" alt="dash">
            </div>
            <div class="doc-name" [ngClass]="{corrected: i.isCorrected == 'true', notCorrected: i.isCorrected == 'False'}" routerLink="/editing-page">{{i.document_name}}</div>
        </div>

    </div>
</div>