<app-navbar></app-navbar>
<div class="row">
    <div class="filter-bar">
        <div class="feilds">
            <input class="dd" name="search" [(ngModel)]="searchText" type="text" placeholder="Search by filename">
            <input class="dd" type="text" placeholder="select by date">
            <button class="btn" type="submit">Clear</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="doc-container" *ngFor="let i of apiDocuments | filter:searchText">
            <div class="doc-thumbnail" routerLink="/editing-page">
                <img [src]="i.thumbnailUrl" alt="dash">
            </div>
            <div class="doc-name" routerLink="/editing-page">{{i.DocumentId}}</div>
        </div>

    </div>
</div>