<app-navbar></app-navbar>
<div class="row">
    <div class="filter-bar">
        <div class="feilds">
            <input class="dd" name="search" [(ngModel)]="searchText" type="text" placeholder="Search by filename">
            <input class="dd" type="text" placeholder="select by date">
            <!-- <input class="dd" type="text" placeholder="Document status">
            <input class="dd" type="text" placeholder="Select Profile">
            <input class="dd" type="text" placeholder="Select Api key"> -->
            <button class="btn" type="submit">Clear</button>
        </div>
    </div>
</div>



<!-- original code (commented) -->

<!-- <div class="row">
    <div class="col">
        <div class="doc-container" *ngFor="let doc of docs | filter:searchText">
            <div class="doc-thumbnail" routerLink="/editing-page">
                <img [src]="doc.thumbnail" alt="dash">
            </div>
            <div class="doc-name" routerLink="/editing-page">{{doc.name}}</div>
        </div>

    </div>
</div> -->


<!-- Trial code -->
<div class="row">
    <div class="col">
        <div class="doc-container" *ngFor="let doc of apiDocuments.DocumentList| filter:searchText">
            <div class="doc-thumbnail" routerLink="/editing-page">
                <img [src]="doc.thumbnailUrl" alt="dash">
            </div>
            <div class="doc-name" routerLink="/editing-page">{{doc.DocumentList[0].thumbnailUrl}}</div>
        </div>

    </div>
</div>