.editing-page-body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.alert-cell
{
  height:3.8%;
  width: 26%;
  font-size: 1rem;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.1%;
  left: 74%;
  z-index: 1;
}
.alert-warn
{
   height: 100%;
   width: 20%;
   font-weight: normal;
   font-size: 1.10rem;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   background-color: red;
   color: white;
   top: 0%;
   left: 0%;  
}

.alert-message
{
   height: 100%;
   width: 70%;
   display: flex;
   justify-content: left;
   align-items: center;
   position: absolute;
   background-color: red;
   color: white;
   top: 0%;
   left: 20%;
   padding-left: 2%;  
}

.alert-close
{
   height: 100%;
   width: 10%;
   color: white;
   background-color: red;
   display: flex;
   border-left:1px solid black ;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0%;
   left: 90%; 
   cursor: pointer; 
}
.navbar-1 {
  height: 7%;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  color: white;
  background-color: #39a87a;
  position: absolute;
  top: 0;
  box-shadow: #39a87a;
}
.logo {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 25%;
  left: 1%;
  background-image: url("https://uat.infrrd.cloud/assets/images/logos/infrrd-logo-monotone-white-transparent@2x.png");
  background-size: 35%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.navbar-2 {
  height: 4%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 7%;
}
.zoom_in_button {
  height: 50%;
  width: 2.5%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  position: absolute;
  top: 25%;
  left: 0%;
  cursor: pointer;
  user-select: none;
}
.zoom_out_button {
  height: 50%;
  width: 2.5%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  position: absolute;
  top: 25%;
  left: 3%;
  cursor: pointer;
  user-select: none;
}
.page-left-section {
  height: 89%;
  width: 50%;
  overflow: auto;
  position: absolute;
  top: 11%;
}
img {
  position: absolute;
  top: 0%;
  left: 0%;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.image_rect {
  fill: transparent;
  stroke: none;
  stroke-width: 2px;
  stroke-dasharray: 10, 2;
}
.entity_rect {
  fill: transparent;
  stroke: #39a87a;
  stroke-width: 1.5px;
}
.page-right-section {
  height: 89%;
  width: 50%;
  border-left: 2px solid black;
  overflow-y: auto;
  position: absolute;
  top: 11%;
  left: 50%;
}
.page-right-section-top {
  height: 20%;
  width: 100%;
  border-bottom: 2px solid black;
  position: absolute;
  top: 0%;
}
.custom-header-input {
  height: 30%;
  width: 28%;
  color: black;
  font-size: 1rem;
  display: block;
  border: 2px solid #39a87a;
  position: absolute;
  top: 36%;
  left: 5%;
  text-align: center;
}
.custom-question-input {
  height: 30%;
  width: 28%;
  color: black;
  font-size: 1rem;
  display: none;
  border: 2px solid #39a87a;
  position: absolute;
  top: 36%;
  left: 5%;
  text-align: center;
}
.custom-answer-input {
  height: 30%;
  width: 28%;
  color: black;
  font-size: 1rem;
  display: none;
  border: 2px solid #39a87a;
  position: absolute;
  top: 36%;
  left: 37%;
  text-align: center;
}
.custom-other-input {
  height: 30%;
  width: 28%;
  color: black;
  font-size: 1rem;
  display: none;
  border: 2px solid #39a87a;
  position: absolute;
  top: 36%;
  left: 5%;
  text-align: center;
}
.add-entity-button {
  height: 30%;
  width: 20%;
  background-color: #39a87a;
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 0.1rem;
  position: absolute;
  top: 37%;
  left: 70%;
}
.next-button {
  height: 30%;
  width: 5%;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 0.1rem;
  position: absolute;
  top: 37%;
  left: 91%;
}

.page-right-section-mid {
  height: 70%;
  width: 100%;
  border-bottom: 2px solid black;
  overflow-y: auto;
  position: absolute;
  top: 20%;
}
.display-entity {
  height: 20%;
  width: 100%;
  position: relative;
}
.qa-entity-cell-structure {
  height: 35%;
  width: 35%;
  border: 2px solid #39a87a;
}
.qa-entity-cell-type {
  height: 100%;
  width: 10%;
  font-size: 1.5rem;
  background-color: #39a87a;
  color: white;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 0%;
  user-select: none;
}
.qa-entity-cell-data {
  height: 100%;
  width: 90%;
  font-size: 1rem;
  border: none;
  position: absolute;
  top: 0%;
  left: 10%;
}
.ho-entity-cell-structure {
  height: 35%;
  width: 76.5%;
  border: 2px solid #39a87a;
}
.ho-entity-cell-type {
  height: 100%;
  width: 4%;
  font-size: 1.5rem;
  background-color: #39a87a;
  color: white;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 0%;
}
.ho-entity-cell-data {
  height: 100%;
  width: 96%;
  font-size: 1rem;
  border: none;
  position: absolute;
  top: 0%;
  left: 4%;
}
.delete-entity {
  height: 40%;
  width: 5%;
  font-size: 1.75rem;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 85%;
}
.h-entity-cell-pos {
  position: absolute;
  top: 33%;
  left: 5%;
}
.o-entity-cell-pos {
  position: absolute;
  top: 33%;
  left: 5%;
}
.q-entity-cell-pos {
  position: absolute;
  top: 33%;
  left: 5%;
}
.a-entity-cell-pos {
  position: absolute;
  top: 33%;
  left: 46%;
}
.page-right-section-bottom {
  height: 10%;
  width: 100%;
  background-color: rgb(198, 198, 198);
  position: absolute;
  top: 90%;
}



.save-and-exit
{
    height: 50%;
    width: 20%;
    background-color: white;
    color:#23875e;
    font-size: 1rem;
    border: 1.25px solid white;
    border-radius: .5rem;
    position: absolute;
    top:25%;
    left:50%;
}


.save-and-next{
  height: 50%;
  width: 20%;
  background-color: #23875e;
  color:white;
  font-size: 1rem;
  border: 1.25px solid white;
  border-radius: .5rem;
  position: absolute;
  top:25%;
  left:75%;
}

.cancel-button
{
  height: 50%;
    width: 13%;
    background-color: #23875e;
    color:white ;
    font-size: 1rem;
    border: 1.25px solid white;
    border-radius: .5rem;
    position: absolute;
    top:25%;
    left:2%;
}
