<div class="editing-page-body">
  <div class="alert-cell" #alert_ref>
    <div class="alert-warn">Warning!</div>
    <!--Select token first, to make an entity-->
    <!--This token is already used -->
    <div class="alert-message">{{alert_message}}</div>
    <div class="alert-close" (click)="close_alert()">x</div>
  </div>
  <div class="navbar-1">
    <div class="logo" routerLink="/"></div>
  </div>
  <div class="navbar-2">
    <div (click)="zoom_in()" class="zoom_in_button">+</div>
    <div (click)="zoom_out()" class="zoom_out_button">-</div>
  </div>
  <div class="page-left-section">
    <img #main_image_ref src={{imgUrl+image_url}}>
    <svg #svg_ref [attr.height]="img_length" [attr.width]="img_width">
      <rect #r class="image_rect" *ngFor="let i of coordinate_array;let ind=index" [attr.x]="i.box[0]"
        [attr.y]="i.box[1]" [attr.height]="i.box[3]-i.box[1]" [attr.width]="i.box[2]-i.box[0]"
        (mouseenter)="token_mouse_enter(r.style)" (mouseout)="token_mouse_out(r.style)" (click)="image_token_click(i.id)" />
        <rect class="entity_rect" #display_entity_rect_ref x="" y="" height="" width="" />
    </svg>
  </div>
  <div class="page-right-section">
    
    <div class="page-right-section-top">
      <button class="next-button" (click)="next_button_click()">></button>
      <button class="add-entity-button" (click)="make_custom_entity()">Add {{custom_input_type}}</button>

      <input (keydown.backspace)="clear_custom_input_cell()" (click)="select_input(custom_header_input_ref,'ch',-1)" readonly #custom_header_input_ref class="custom-header-input" placeholder="Header Entity">
      
      <input (keydown.backspace)="clear_custom_input_cell()" (click)="select_input(custom_question_input_ref,'cq',-1)" readonly #custom_question_input_ref class="custom-question-input" placeholder="Question Entity">
      <input (keydown.backspace)="clear_custom_input_cell()" (click)="select_input(custom_answer_input_ref,'ca',-1)" readonly #custom_answer_input_ref class="custom-answer-input" placeholder="Answer Entity">
      
      <input (keydown.backspace)="clear_custom_input_cell()" (click)="select_input(custom_other_input_ref,'co',-1)" readonly #custom_other_input_ref class="custom-other-input" placeholder="Other Entity">
    </div>

    <div class="page-right-section-mid">
      <!-- ****************** displaying question and answer ******************* -->
      <div class="display-entity" *ngFor="let i of question_entity_strings;let ind=index">
        <!--question part-->
        <div class="qa-entity-cell-structure q-entity-cell-pos" (click)="entity_click('q',ind)">
          <div class="qa-entity-cell-type">Q</div>
          <input readonly #q_i_r class="qa-entity-cell-data" value={{i}} (keydown.backspace)="clear_entity_cell()" (click)="select_input(q_i_r,'q',ind)"/>
        </div>
        <!--end of question part-->

        <!--answer part-->
        <div class="qa-entity-cell-structure a-entity-cell-pos" (click)="entity_click('a',ind)">
          <div class="qa-entity-cell-type">A</div>
          <input readonly #a_i_r class="qa-entity-cell-data" value={{answer_entity_strings[ind]}} (keydown.backspace)="clear_entity_cell()" (click)="select_input(a_i_r,'a',ind)"/>
        </div>
        <!--end of answer part-->

        <div class="delete-entity" (click)="delete_entity('q',ind)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </div>
      <!-- ****************** end of displaying question and answer ******************* -->
      
      <!--****************** displaying header *******************-->
      <div class="display-entity" *ngFor="let i of header_entity_strings;let ind=index">
        <div class="ho-entity-cell-structure h-entity-cell-pos" (click)="entity_click('h',ind)">
          <div class="ho-entity-cell-type">H</div>
          <input #h_i_r readonly class="ho-entity-cell-data" value={{i}} (keydown.backspace)="clear_entity_cell()" (click)="select_input(h_i_r,'h',ind)" />
        </div>
       
        <div class="delete-entity" (click)="delete_entity('h',ind)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </div>
      <!--****************** end of displaying header *******************-->

      <!--****************** displaying other *******************-->
      <div class="display-entity" *ngFor="let i of other_entity_strings;let ind=index">
        <div class="ho-entity-cell-structure o-entity-cell-pos" (click)="entity_click('o',ind)">
          <div class="ho-entity-cell-type">O</div>
          <input  #o_i_r readonly class="ho-entity-cell-data" value={{i}} (keydown.backspace)="clear_entity_cell()" (click)="select_input(o_i_r,'o',ind)"  />
        </div>

        <div class="delete-entity" (click)="delete_entity('o',ind)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </div>
      </div>
      <!--****************** end of displaying other *******************-->
    </div>
    <div class="page-right-section-bottom">
      <button  (click)="save_all_data(0)" class="save-and-exit">Save and Exit</button>
      <button (click)="save_all_data(1)" class="save-and-next">Save and Next</button>
      <button (click)="exit()" class="cancel-button">Cancel</button>
    </div>
  </div>
</div>