.editing-page-body
{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    position: absolute;
    top: 0;
}
  
.navbar-1
{
    height: 7%;
    width: 100%;
    font-size: 2rem;
    text-align: left;
    color: white;
    background-color: #39a87a;
    position: absolute;
    top: 0;
    box-shadow: #39a87a;
}

.logo
{
    position: absolute;
    height: 100%;
    width: 20%;
    top: 25%;
    left: 1%;
    background-image: url("https://uat.infrrd.cloud/assets/images/logos/infrrd-logo-monotone-white-transparent@2x.png");
    background-size: 35%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar-2 
{
    height: 4%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 7%;
}

.page-left-section 
{
    height: 89%;
    width: 50%;
    overflow: auto;
    position: absolute;
    top: 11%;
}

.page-left-section-image
{
    height: 100%;
    width: 90%;
    position: absolute;
    top: 0%;
    left: 10%;
}
  
img 
{
    position: absolute;
    top: 0%;
    left: 0%;
}

.custom-token-input
{
     height:2%;
     width:1%;
     font-size: 1rem;
     background-color:#39a87a;
     color: white;
     display: none;
     justify-content: center;
     align-items: center;
     z-index: 1;
     position: absolute;
     top: 0%;
     left: 0%;
     cursor: pointer;
}
svg 
{
    position: absolute;
    top: 0;
    left: 0;
}

.image-rect 
{
    fill: transparent;
    stroke: none;
    stroke-width: 2px;
    stroke-dasharray: 10, 2;
}

.entity-rect 
{
    fill: transparent;
    stroke: #39a87a;
    stroke-width: 1.5px;
}

.custom-token-rect
{
    fill: transparent;
    stroke: #39a87a;
    stroke-width: 2px;
    stroke-dasharray: 10, 2;
}

.mark-question-on-image
{
    fill: transparent;
    stroke: red;
    stroke-width: 1px;
}

.mark-answer-on-image
{
    fill: transparent;
    stroke:blue;
    stroke-width: 1px;
}
  
.mark-header-on-image
{
    fill: transparent;
    stroke:purple;
    stroke-width: 1px;
}

.mark-other-on-image
{
    fill: transparent;
    stroke:orange;
    stroke-width: 1px;
}


.image-control-container-background
{
    height: 89%;
    width: 5%;
    position: absolute;
    left: 2%;
    top: 11%;
}

.image-control-container-dropdown
{
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    top: 3%;
    left: 12.5%;
    height: 5%;
    width: 75%;
    border-radius: 3rem;
    cursor: pointer;
}
.dropdown-sign
{
    position: absolute;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    left: 34.5%;
    top: 30%;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.image-control-container
{
    height: 60%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0%; 
    background-color: rgba(0, 0, 0, 0.78);
    border-radius: 0.4rem;
}

.zoom-control
{
    width: 100%;
    height: 25%;
    border-top:1px solid #23875e;
    top: 75%;
    position: absolute;
}

.zoom-in-button 
{
    height: 4%;
    width: 70%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
    position: absolute;
    top: 70%;
    left: 11%;
    cursor: pointer;
    user-select: none;
}

.zoom-out-button 
{
    height: 4%;
    width: 70%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
    position: absolute;
    top: 30%;
    left: 19%;
    cursor: pointer;
    user-select: none;
    transform: rotate(90deg);
}

.label-type
{
    height: 70%;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 0%;
    border-top: 1px solid #23875e;
}

.display-all-question-on-click
{
    height: 10%;
    width: 60%;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    position: absolute;
    top: 80%;
    left: 20%;
    cursor: pointer;
    user-select: none;
}

.display-all-answer-on-click
{
    height: 10%;
    width: 60%;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    position: absolute;
    top: 55%;
    left: 20%;
    cursor: pointer;
    user-select: none;
}

.display-all-header-on-click
{
    height: 10%;
    width: 60%;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:purple;
    color: white;
    position: absolute;
    top: 30%;
    left: 20%;
    cursor: pointer;
    user-select: none;
}

.display-all-other-on-click
{
    height: 10%;
    width: 60%;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orange;
    color: white;
    position: absolute;
    top: 5%;
    left: 20%;
    cursor: pointer;
    user-select: none;
}

.display-all-answer-on-click:hover, .display-all-question-on-click:hover, .display-all-header-on-click:hover, .display-all-other-on-click:hover
{
    position: absolute;
    left:0%;
    height: 20%;
    width: 100%;
    font-size: 1.2rem;
}

.image-control-container-close
{
    background-color: rgba(0, 0, 0, 0.78);
    position: absolute;
    top: 3%;
    left: 12.5%;
    height: 5%;
    width: 75%;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    color: white;
    user-select: none;
    cursor: pointer;
}

.page-right-section 
{
    height: 89%;
    width: 50%;
    border-left: 2px solid black;
    overflow-y: auto;
    position: absolute;
    top: 11%;
    left: 50%;
}

.field-checkbox-selection
{
    height: 7%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fields
{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 5%;
    width: 20%;
    cursor: pointer;
    border-bottom: 7px solid #39a87a;
}

.checkbox
{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 30%;
    width: 25%;
    cursor: pointer;
}

.page-right-section-top-fields{
    height: 13%;
    width: 100%;
    border-bottom: 2px solid black;
    position: absolute;
    top: 7%;
}
.add-entity-button
{
    height: 40%;
    width: 20%;
    background-color: #39a87a;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 0.1rem;
    position: absolute;
    top: 37%;
    left: 70%;
}

.next-button
{
    height: 40%;
    width: 5%;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    border-radius: 0.1rem;
    position: absolute;
    top: 37%;
    left: 91%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.custom-header-input 
{
    height: 40%;
    width: 28%;
    color: black;
    font-size: 1rem;
    display: block;
    border: 2px solid #39a87a;
    position: absolute;
    top: 36%;
    left: 5%;
    text-align: center;
}
.custom-question-input 
{
    height: 40%;
    width: 28%;
    color: black;
    font-size: 1rem;
    display: none;
    border: 2px solid #39a87a;
    position: absolute;
    top: 36%;
    left: 5%;
    text-align: center;
}
.custom-answer-input 
{
    height: 40%;
    width: 28%;
    color: black;
    font-size: 1rem;
    display: none;
    border: 2px solid #39a87a;
    position: absolute;
    top: 36%;
    left: 37%;
    text-align: center;
}

.custom-other-input 
{
    height: 40%;
    width: 28%;
    color: black;
    font-size: 1rem;
    display: none;
    border: 2px solid #39a87a;
    position: absolute;
    top: 36%;
    left: 5%;
    text-align: center;
}



.page-right-section-mid-fields 
{
    height: 70%;
    width: 100%;
    border-bottom: 2px solid black;
    overflow-y: auto;
    position: absolute;
    top: 20%;
}

.display-field-entity 
{
    height: 20%;
    width: 100%;
    position: relative;
}

.qa-entity-cell-structure 
{
    height: 35%;
    width: 35%;
    border: 2px solid #39a87a;
}

.qa-entity-cell-type 
{
    height: 100%;
    width: 10%;
    font-size: 1.25rem;
    background-color: #39a87a;
    color: white;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
    user-select: none;
}

.qa-entity-cell-data 
{
    height: 100%;
    width: 90%;
    font-size: 1rem;
    border: none;
    position: absolute;
    /* padding-left: 8px; */
    top: 0%;
    left: 10%;
}

.ho-entity-cell-structure 
{
    height: 35%;
    width: 76.5%;
    border: 2px solid #39a87a;
}

.ho-entity-cell-type 
{
    height: 100%;
    width: 4%;
    font-size: 1.25rem;
    background-color: #39a87a;
    color: white;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
}

.ho-entity-cell-data 
{
    height: 100%;
    width: 96%;
    font-size: 1rem;
    border: none;
    position: absolute;
    top: 0%;
    left: 4%;
}

.delete-field-entity 
{
    height: 40%;
    width: 5%;
    font-size: 1.75rem;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 85%;
}

.h-entity-cell-pos 
{
    position: absolute;
    top: 33%;
    left: 5%;
}

.o-entity-cell-pos 
{
    position: absolute;
    top: 33%;
    left: 5%;
}

.q-entity-cell-pos 
{
    position: absolute;
    top: 33%;
    left: 5%;
}

.a-entity-cell-pos 
{
    position: absolute;
    top: 33%;
    left: 46%;
}



.page-right-section-top-checkbox
{
  height: 13%;
  width: 100%;
  position: absolute;
  top: 7%;
  left: 0%;
  border-bottom: 2px solid black;
}
.add-checkbox-button
{
  height: 60%;
  width: 12%;
  position: absolute;
  top:20%;
  left: 85%;
  background-color: #23875e;
  color: white;
  border-radius: 0.35rem;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}



.page-right-section-mid-checkbox 
{
    height: 70%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 20%;
}

.checkbox-container
{
    height:60%;
    width: 95%;
    position: relative;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: 1px solid grey;
    overflow-y: auto;
}

.checkbox-question
{
    height: 15%;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    font-size:1rem;
    display: block;
    text-align: center;
}

.checkbox-option-container
{
    height: 20%;
    width: 100%;
    position: relative;
    margin-top:2%;
}

.checkbox-option-string
{
    height: 100%;
    width: 44%;
    border: 1px solid grey;
    position: absolute;
    left: 1%;
    border-radius: 0.25rem;
}

.actual-checkbox-string
{
    height: 100%;
    width: 45%;
    position: absolute;
    border:1px solid grey;
    top:0%;
    left: 47%;
    border-radius: 0.25rem;
}

.actual-checkbox-checkbox-unchecked
{
    height: 50%;
    width: 3.5%;
    position: absolute;
    border: 1px solid grey;
    top: 25%;
    left: 85.5%;
    border-radius: 0.25rem;
    cursor: pointer;
}

.actual-checkbox-checkbox-checked
{
    height: 50%;
    width: 3.5%;
    position: absolute;
    border: 1px solid grey;
    top: 25%;
    left: 85.5%;
    border-radius: 0.25rem;
    background-color: #23875e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-checkbox-option
{
    position: absolute;
    top: 30%;
    left: 96%;
}

.new-checkbox-option-container
{
    height: 20%;
    width: 100%;
    position: relative;
    margin-top:2%;
}

.custom-checkbox-option-string
{
    height: 100%;
    width: 44%;
    border: 1px solid grey;
    position: absolute;
    left: 1%;
    border-radius: 0.25rem;
}

.custom-actual-checkbox-string
{
    height: 100%;
    width: 45%;
    position: absolute;
    border:1px solid grey;
    top:0%;
    left: 47%;
    border-radius: 0.25rem;
}

.add-new-checkbox
{
    position: absolute;
    top: 0%;
    left: 95%;
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-checkbox-question
{
    position: absolute;
    top: 5%;
    left: 96%;
}


.page-right-section-bottom 
{
    height: 10%;
    width: 100%;
    background-color: rgb(198, 198, 198);
    position: absolute;
    top: 90%;
}
  
.save-and-exit
{
    height: 50%;
    width: 20%;
    background-color: white;
    color:#23875e;
    font-size: 1rem;
    border: 1.25px solid white;
    border-radius: .5rem;
    position: absolute;
    top:25%;
    left:50%;
}

.save-and-next
{
    height: 50%;
    width: 20%;
    background-color: #23875e;
    color:white;
    font-size: 1rem;
    border: 1.25px solid white;
    border-radius: .5rem;
    position: absolute;
    top:25%;
    left:75%;
}

.cancel-button
{
    height: 50%;
    width: 13%;
    background-color: #23875e;
    color:white ;
    font-size: 1rem;
    border: 1.25px solid white;
    border-radius: .5rem;
    position: absolute;
    top:25%;
    left:2%;
}