.col{
    /* border: 1px solid purple; */
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* margin-top: 5px; */
    column-gap: 5px;
    /* height: 100vh; */
    /* overflow: hidden; */
}
.dash-container{
    /* display: grid; */
    /* flex-direction: column; */
    /* background-color: blue; */
    /* align-items: center; */
    justify-content: center;
    /* border: 1px solid blue; */
    /* overflow-y: none; */
    padding: 0 0;
    overflow: auto;
    margin: 10px 20px;
}
.dash-thumbnail{
    /* background-color: #fff; */
    /* border: 1px solid black; */
    
    justify-content: center;
    height: 70px;
    width: 96%;
    /* padding: 0 0 ; */
    display: flex;
    
}

.dash-name{
    /* display: flex; */
    /* margin: auto; */
    /* border: 1px solid red; */
    text-align: center;
    /* overflow: auto; */
    /* background-color: aqua; */
    /* justify-content: center; */
    /* align-items: center; */
}