<app-navbar></app-navbar>
<app-upload-file></app-upload-file>
<!-- <div class="text-center">
  <button class="btn btn-outline-success" (click)="onFetchClicked()">
    Fetch Batches
  </button>
</div> -->
<div class="row">
  <div class="col">
    <div class="dash-container" *ngFor="let batch of apiBatchdata">
      <div
        class="dash-thumbnail"
        routerLink="/documents"
        (click)="get_batch_id(batch.batchId)"
      >
        <img [src]="thumbnail" alt="dash" />
        
      </div>

      <div class="dash-name">
        {{ batch.batchName }}

        <fa-icon
          (click)="download(batch.batchId, batch.batchName)"
          style="font-size: small; margin: 5px 5px"
          [icon]="download_icon"
        >
        </fa-icon>

        <fa-icon
          (click)="openPopup(batch.batchId, batch.batchName)"
          style="font-size: small; margin: 5px 5px ;color:rgb(208, 45, 45);"
          [icon]="delete_icon"
        >
        </fa-icon>
      </div>

      <!-- <button style="font-size: 30px;" (click)="download(batch.batchId,batch.batchName)"> <i class="bi bi-download"> </i></button> -->
    </div>
  </div>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">WARNING</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the {{delete_batch_name}}</p>
        <p>All data will be lost</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
        (click)="delete_batch(delete_batch_Id)"      >
         Delete
        </button>
        <button type="button" class="btn btn-success" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

